body {
  margin: 0;
  padding: 0;
}

.image-grid {
  display: flex;
  margin-top: 10vh;
}

.image-grid img {
  width: 18vw;
  margin-left: 1vw;
  margin-right: 1vw;
  box-shadow: 5px 5px 5px 5px #424242;
}
